<header id="header" style = "background-image: url(https://source.unsplash.com/random);">
    <nav class="nav">
        <div class="container-fluid">
          <div class = "row">
            <div class = "col-sm-5 hidden-xs">
                  <a href="#" title="article">Article</a>
                  <a href="#" title="gallery">Gallery</a>
                  <a href="#">About Me</a>
            </div>
            <div class = "col-sm-2 text-middle">
              <img src="assets/img/icon.png" width = "60px" height = "60px" />
            </div>
            <div class = "col-sm-5 text-right hidden-xs">
              <a href="https://github.com/1angJ6" title="github" target="_blank">
                <img src="assets/img/github.png" alt="GitHub" width="35px">
              </a>
              <a href="http://www.linkedin.com/in/jl-301690145/" title="linkedin" target="_blank">
                <img src="assets/img/linkedin.png" alt="LinkedIn" width="35px">
              </a>
              <a href="http://s.weibo.com/user/%25E6%25B5%25AA%25E9%2587%258C%25E4%25B8%25AA%25E9%2583%258E%25E5%2591%25A6&Refer=weibo_user" title="weibo" target="_blank">
                <img src="assets/img/weibo.png" alt="Weibo" width="35px">
              </a>
            </div>
          </div>
        </div>
    </nav>

      <div class = "title">
          <div class="container-fluid">
            <div class = "row">
              <div class = "col-sm-2">
              </div>
              <div class = "col-sm-8" style = "text-align: center;">
                <p style = "font-size: 40px;">Do you best without thinking about the results.</p>
                <p style = "font-size: 30px;">但行好事，莫问前程。</p>
              </div>
              <div class = "col-sm-2">
              </div>
            </div>
          </div>
      </div>

      <div class="background-overlay"></div>
</header>